.row{
    margin-left: 20px;
    color: white;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor:pointer;
}

.smallPoster{
    max-height: 120px;
    margin-right: 10px;
    cursor:pointer;
}

.smallPoster:hover{
    transform:scale(1.05);
}

.smallPoster{
	 
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration: none!important;
  }

h2{
    margin-top: 30px;
}

.poster:hover{
    transform:scale(1.05);
}

.poster{
	 
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration: none!important;
  }